{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="stylesheet" href="{% static 'tracker/styles.css' %}">
    </head>
    <body>
        <div class="sign-up-wrapper">
            <h1>Create Account</h1>

            <div class="sign-up-card">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit</button>
                </form>
                <a href="{% url 'login' %}">Already have an account? Log in here.</a>
            </div>

        </div>
    </body>
</html>