<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Applications</title>
    </head>
    <body>
        <h1>Job Applications</h1>
        <section>
            <ul>
                <li>Total applications: {{ total_count }}</li>
                <li>Applied: {{ applied_count }}</li>
                <li>Interview: {{ interview_count }}</li>
                <li>Rejected: {{ rejected_count }}</li>
                <li>Offer: {{ offer_count }}</li>
            </ul>
        </section>
        <a href="/applications/create/">Add New Application</a>

        <form method="GET">
            <input name="q" type="text" value="{{ search_query }}" placeholder="Search by company">
            <select name="status">
                <option value="" {% if not selected_status %}selected{% endif %}>All</option>
                <option value="Applied" {% if selected_status == "Applied" %}selected{% endif %}>Applied</option>
                <option value="Interview" {% if selected_status == "Interview" %}selected{% endif %}>Interview</option>
                <option value="Rejected" {% if selected_status == "Rejected" %}selected{% endif %}>Rejected</option>
                <option value="Offer" {% if selected_status == "Offer" %}selected{% endif %}>Offer</option>
            </select> 
            <button type="submit">Filter</button>
            <a href="/applications/">Clear Filters</a>
        </form>
        {% if applications %}
        <ul>
            {% for application in applications %}
                <li>
                    <a href="/applications/{{ application.id }}/"> 
                    {{ application.company_name}} - {{ application.position_title }} - {{ application.status }}
                    </a> 
                </li>
            {% endfor %}
        </ul>
        {% else %}
            {% if selected_status or search_query %}
                <p>No matching applications found.</p>
            {% else %}
                <p>No job applications yet.</p>
            {% endif %}
        {% endif %}
    </body>
</html>